<div class="markdown-body">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8358147121924966"
     crossorigin="anonymous"></script>
<!-- post bottom ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8358147121924966"
     data-ad-slot="1507932601"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  {{ post.content }}
</div>
<br />
<br />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8358147121924966"
     crossorigin="anonymous"></script>
<!-- post bottom ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8358147121924966"
     data-ad-slot="1507932601"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
