
<div class="right-side">
  <div class="ad-first">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8358147121924966"
     crossorigin="anonymous"></script>
<!-- right-side ads 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8358147121924966"
     data-ad-slot="8298849463"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
<br/>
<br/>
  <div class="ad-second">
    <!-- 블로그-스카이스크래퍼 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8358147121924966"
     crossorigin="anonymous"></script>
<!-- right side ads 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8358147121924966"
     data-ad-slot="7225247422"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
